---
pagination:
  data: generated.providers
  size: 1
  alias: provider
  addAllPagesToCollections: true
permalink: "{{ provider.key | slug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{provider.name}} services"
---

<table class="table">
  <thead>
    <tr>
      <th scope="col">Service</th>
      <th scope="col">Provider description</th>
    </tr>
  </thead>
  <tbody>
    {% for service in generated.services %}
      {% if service.provider.key == provider.key %}
        <tr>
          <th scope="row">
            <a href="{{ service.slug }}">{{ service.name }}</a>
          </th>
          <td>{{ service.description }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
