---
pagination:
  data: generated.providers
  size: 1
  alias: provider
  addAllPagesToCollections: true
permalink: "{{ provider.key | slug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{provider.name}}"
---

<ul class="list-style">
  {% for service in generated.services %}
    {% if service.provider.key == provider.key %}
    <li><a href="{{service.slug}}">{{ service.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
