---
pagination:
  data: generated.services
  size: 1
  alias: service
  addAllPagesToCollections: true
permalink: "{{ service.provider.key | slug }}/{{ service.key }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ service.name }} on {{ service.provider.name }}"
  description: "Find out what the {{ service.name }} on {{ service.provider.name }} equivalent is with other cloud providers."
---

{% if service.description and service.description != service.name %}
  <p>{{ service.description }}</p>
{% endif %}

{% if service.equivalents.length > 0 %}
  <h2 class="pb-2 border-bottom mb-4">Equivalents</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cloud Provider</th>
        <th scope="col">Equivalent</th>
      </tr>
    </thead>
    <tbody>
      {%- for equivalent in service.equivalents -%}
      <tr>
        <th scope="row">{{ equivalent.provider.name }}</th>
        <td>{{ equivalent.name }}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>

{% else %}
  <p>Unfortunately, we don't know of any equivalents - if we've missed something, get involved and raise a pull request or an issue in the <a href="https://github.com/cloudequivalent/cloudequivalent">cloudequivalent/cloudequivalent repository</a> on GitHub.</p>
{% endif %}
